.App {
  background-color: antiquewhite;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 60px;
  border-radius: 20px;
}
header {
  margin: 0 auto;
  margin-bottom: 20px;
}
main {
  margin-bottom: 20px;
}
footer {
  font-size: 12px;
  color: rosybrown;
  font-weight: bold;
}
footer a {
  color: rosybrown;
}
h1 {
  font-size: 70px;
  text-align: center;
  color: rosybrown;
}
@media (max-width: 800px) {
  h1 {
    font-size: 50px;
  }
}
