.Photos {
  padding-top: 30px;
}

.Photo {
  max-width: 200px;
  margin: 10px 10px;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}
.Photo:hover {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .Photo {
    max-width: 150px;
  }
}
@media (max-width: 800px) {
  .Photo {
    max-width: 100px;
  }
}
@media (max-width: 600px) {
  .Photo {
    max-width: 50px;
  }
}
